<!DOCTYPE html>
<html>
  <head>
    <title>WebChat - Trybe</title>
  </head>
  <body>
    <h3>current online users:</h3>
    <ul id="onlineUsers">
      <li id="currentUser" data-testid="online-user"></li>
    </ul> 
    <h3>________________</h3>
    <ul id="messages">
      <% msgs.forEach((msg) => { %>
        <li data-testid="message">
          <%= `${msg.timestamp} - ${msg.nickname}: ${msg.message}` %>
        </li>
      <% }) %>
    </ul>
    <form action="">
      <input 
        id="messageInput" 
        autocomplete="off"
        data-testid="message-box"
      />
      <button data-testid="send-button">Send</button>
    </form>

    <form action="" id = "formNick">
      <input 
        id="nickName" 
        autocomplete="off"
        data-testid="nickname-box"
        placeholder="Insira seu nick"
      />
      <button data-testid="nickname-button">OK</button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script src='./chat.js'></script>
  </body>
</html>